<script src="http://adn-static1.nykaa.com/core_light.js"></script>
<link rel="stylesheet" type="text/css" href="https://adn-static1.nykaa.com/core.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<style type="text/css">
/*main css starts here*/
html {
  -webkit-font-smoothing: antialiased;
}
body{text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
} 

.Main-Container{
    position: relative;
    top: -13px;
    width: 100%}
  
.Main-Container .clear-all {
    display: none;
} 
@font-face {
  
  font-family: 'SourceSansPro-Regular';
  
  src: url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Regular.eot');
  
  src: url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Regular.otf') format('opentype'),
    
       url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'), 
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Regular.ttf')  format('truetype'),
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  
  font-weight: normal;
  
  font-style: normal;
}
@font-face {
  
  font-family: 'SourceSansPro-Semibold';
  
  src: url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Semibold.eot');  
  
  src: url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Semibold.otf') format('opentype'),
    
       url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Semibold.woff') format('woff'), 
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Semibold.ttf')  format('truetype'), 
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
  
  font-weight: normal;
  
  font-style: normal;
}
@font-face {
  
  font-family: 'SourceSansPro-Light';
  
  src: url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Light.eot'); 
  
  src: url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Light.otf') format('opentype'),
    
       url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'), 
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Light.ttf')  format('truetype'), 
    
     url('http://www.nykaa.com/media/fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  
  font-weight: normal;
  
  font-style: normal;
} 

/*Homepage-Slider css starts here*/
  
#Homepage-Slider {
  opacity: 0;
  margin-bottom: 0px !important;
}


/*Homepage-Slider css ends here*/
/*Homepage-Content css starts here*/
.Homepage-Content-Wrapper{
    width:100%;
    margin: -11px auto 11px;
  }
.Homepage-Content-Inner{
    width:100%;
    max-width: 71.25em;
    margin: 0 auto;
    padding:3.501% 0 0 0;
  }
.Homepage-Content-Inner-Bottom-Spacing{
   padding-bottom: 0.75%;
}
.add_padding{padding-top: 6.377%;}
.add_margin{    margin-top: 4%;
    padding-top: 2.88%;}
.bgColor_darkGrey{background-color:#f3f3f3;}
.bgColor_lightGrey{background-color:#f7f7f7;}
.addbdr_btm{border-bottom:1px solid #ebebeb;} 
.Nykaa-Sale-Banner{
    border-radius: 3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
    background-color: #ffffff;
  width:100%;
    margin-bottom: 40px;  
  } 
.Nykaa-Sale-Banner-Img{
      width: 67.808%;
      display: inline-block;
      float: left;
  }
.big_Banner.vid img {
    border-radius: 0;
    -webkit-border-radius: 0;
} 
.big_Banner.vid {
    border-radius: 3px; overflow: hidden;
} 
article.Nykaa-Sale-Banner-Img img {
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius:3px;
  -moz-border-bottom-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  height: 100%;
  }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
  ::i-block-chrome,article.Nykaa-Sale-Banner-Img img{height: auto;}
} 
.Nykaa-Sale-Banner-Content{
  width: 32.194%;
    height: 280px;
    display: table;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius:3px;
  -moz-border-bottom-right-radius:3px;
  -webkit-border-bottom-right-radius:3px; 
  }
.BoxShadow, .boxes_BoxShadow{
  transition: box-shadow linear 0.3s;
  -moz-transition: box-shadow linear 0.3s;
  -webkit-transition: box-shadow linear 0.3s;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);   
  } 
.separator-line{color:#8c8d94; font-size: 18px;font-family: 'SourceSansPro-Regular'; margin:0 8px;} 
.Banner-Content-div{
  height:144px;
    margin: 0 auto;
  padding:0 40px;
    display: table-cell;
    vertical-align: middle; 
  } 
.midbanner-content-name{
  font-family: 'SourceSansPro-Semibold';  
  font-size: 18px;
  text-align: center;
  color: #3f414d; 
  line-height: 20px;  
  } 
.midbanner-content-det{
  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
  text-align: center;
  color: #8c8d94;
  margin-top:30px;    
  line-height: 20px;
  }

.Banner-Content-div .ShopOffer-Box span {
  background: url('http://www.nykaa.com/media/wysiwyg/Homepage/shopnow_arrow.png') 95% center no-repeat;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fe0061;
  font-family: 'SourceSansPro-Regular';
    text-transform: uppercase;
    vertical-align: text-bottom;
    display: block;
  width:110px;
    height: 12px;
    line-height: 12px;
  margin: 30px auto 0;
  }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
  ::i-block-chrome,.Banner-Content-div .ShopOffer-Box span{
    background: url('http://www.nykaa.com/media/wysiwyg/Homepage/shopnow_arrow.png') 100% center no-repeat;
  }
}   
.Homepage-Heading{
  font-family: 'Georgia';
  font-size: 22px;
    letter-spacing: 3.9px;
    text-align: center;
    color: #3f414d;
  text-transform: uppercase;
    padding: 3.510% 0 2.632%;
  position: relative;
  }
.Homepage-Banners-Wrapper-offer{padding-top: 3.510%;}
.Homepage-Banners-Wrapper {
    padding-bottom: 3.510%;
} 
.big_Banner{
  position: relative;
    display: inline-block;
  width: 49.124%;
  cursor: pointer;
  } 
.big_Banner, .small_Banner, .big_Banner img, .small_Banner img{
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;  
  }
.bannerDiscountnDetail{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 20px;
    bottom: 20px; 
  }
.maincontent-name {
  font-family: 'SourceSansPro-Semibold';
    font-size: 18px;
    text-align: center;
    color: #3f414d;
    line-height: 20px;  
  height:24px;
  }
.maincontent-name.hn{height:auto}
.bannerDiscountnDetail article{
  background:rgba(255,255,255,0.90);
  padding:20px 0;
  }
.bannercontent-det{
  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
  text-align: center;
  color: #3f414d;   
  }
.big_BannerWrapper:after{
  content:'';
  display: block;
  clear: both;
  }
.small_BannerWrapper{
    margin-top: 1.755%; 
  }
.small_Banner { 
  position: relative;
    display: inline-block;
  width: 32.193%;
}
.small_Banner .bannercontent-det{margin-top:-3px;}  
.subcontent-discount{
  font-family: 'SourceSansPro-SemiBold';
  font-size: 16px;
    text-align: center; 
  color:#fc2779;
  margin-top:-3px;
  }
.Trending-Box-Div-Wrapper{width:74.562%; margin:0 auto;}  
.Trending-Box-Div{
  background:url('http://www.nykaa.com/media/wysiwyg/Homepage/trending-search-icon.png') 92% center no-repeat;
  width:31.765%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  background-color: #ffffff;
  font-family: 'SourceSansPro-Regular';
    font-size: 16px;
    text-align: left;
    color: #3f414d !important;  
  padding:0 20px 0 23px;
  }

.trending-search-home{
  background:url('http://www.nykaa.com/media/wysiwyg/Homepage/trending-search-icon.png') 92% center no-repeat;
  width:31.765%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  background-color: #ffffff;
  font-family: 'SourceSansPro-Regular';
    font-size: 16px;
    text-align: left;
    color: #3f414d !important;  
  padding:0 20px 0 23px;
    margin-bottom: 1.755%;
    margin-left: 0.75%;
    margin-right: 0.75%;
text-transform: capitalize;
  
  }

.distribute-Even{
  display:flex;
  display: -webkit-flex; /* Safari */ 
    justify-content: space-between;
  -webkit-justify-content: space-between; 
  }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
  ::i-block-chrome,.distribute-Even{
  text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
  }
  ::i-block-chrome,.distribute-Even:after{
  content: '';
    width: 100%;
    display: inline-block;
  }
} 
.BrandsImgBoxes .inactiveBrandimg, .BrandsImgBoxes a:hover  .activeBrandimg{display: block;}
.BrandsImgBoxes .activeBrandimg, .BrandsImgBoxes a:hover .inactiveBrandimg{display: none;}    
.view-all-brands{
  display: none !important;
    background: url(http://www.nykaa.com/media/wysiwyg/Homepage/shopnow_arrow.png) 100% center no-repeat; 
    width: 208px;
    height: 22px;
    line-height: 22px;
    font-family: 'SourceSansPro-Regular';
    font-size: 18px;
    letter-spacing: 0.5px;  
    text-align: center;
    color: #fc2779;
  display: inline-block;
    position: absolute;
    right: 0;
  } 
a.Div4-Box {
    display: inline-block;
    width: 23.685%;
  background: #fff
}
a.Div4-Box img{
    border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px; 
  }
a.Div4-Box{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  } 
.Div4-det-container{
  background:#ffffff;
  display: table;
  width:100%;
  height: 95px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;    
  } 
  .Div4-det-container.h75{height:75px}
.Div4-Content{
  display: table-cell;
  vertical-align: top;
  padding:12px 8px;
  line-height: 18px;
  }
.pinkColor{color:#fc2779;}
.VideoBg{
  /*background:url('http://www.nykaa.com/media/wysiwyg/Homepage/video_bg.png') center bottom no-repeat;*/
  width:100%;
    padding-bottom: 3.510%/*40px*/;
  }
  

#Homepage-Video1, #Homepage-Video2{
  display: none;
    position: relative;
  cursor:pointer;
  height: 316px;
}
  
.TopCharts-Box {
    text-align: center;
  display: inline-block;
} 
.Small-Width-Wrapper-Div{
    width: 77.632%;
    margin: 0 auto; 
  }
.TopCharts-Img  {
  background:#fff /*url('http://www.nykaa.com/media/wysiwyg/Homepage/top-charts.png') no-repeat;  */;
  width: 77px;
  height: 77px;
  margin:0 auto;
  border-radius: 50%;
} 
#TopChart1 .TopCharts-Img{
  background-position:0 0; 
  }
#TopChart2 .TopCharts-Img{
  background-position:-77px 0; 
  }
#TopChart3 .TopCharts-Img{
  background-position:-154px 0; 
  }
#TopChart4 .TopCharts-Img{
  background-position:-231px 0; 
  } 
#TopChart5 .TopCharts-Img{
  background-position:-308px 0; 
  } 
#TopChart6 .TopCharts-Img{
  background-position:-385px 0; 
  } 
#TopChart7 .TopCharts-Img{
  background-position:-462px 0; 
  }     
.TopCharts-Txt{
  font-family: 'SourceSansPro-Regular';
    font-size: 18px;
    text-align: center;
    color: #3f414d;
  margin-top:20px;
  }
.NykaaApp-Box{
  position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 3.510% 0;  
  }
.Phone-Img{
  position: relative;
  left: 5%;
    display: inline-block;
    vertical-align: middle;
  } 
.download-App-Box{
  width: 65%;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: middle; 
  }
.download-App-Div-Left{
    width: 59.29%;
    padding: 1.755% 0 2.025%;
    margin-left: 7.900%;/*7.457%*/
  display: inline-block;
    vertical-align: top;
  float:left;
  }
.Get-Mobile-Link-Box{
  width:100%;
    margin-top: 5.831%; 
  }
.Get-Mobile-Link-Box > span {
    color: #fc2779;
    float: right;
font-family:"SourceSansPro-Regular";
    line-height: 30px;
    padding: 0 2%;
}
.Store-Link-Box a{
  display: block;
  } 
.Store-Link-Box a:first-child{
  margin-bottom: 13%; 
  }
.input-mobile-no{
  float:left; 
  display: inline-block;
  vertical-align: top;
    width: 42.355%; 
  border-bottom: 2px solid #cccccc !important;  
  height: 31px;
    border: 0;
  border-radius: 0px !important;
  background: transparent;  
  font-family: 'SourceSansPro-Light';
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  color: #3f414d;
  padding-left:4px;
  }
input.input-mobile-no:focus{border-bottom: 2px solid #fc2779 !important;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  

    /* Safari only override */
  ::i-block-chrome,.input-mobile-no{font-size: 25px;}
} 
input[type="tel"].input-mobile-no::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
  color: #8c8d94;
  padding-left:6px; 
}
input[type="tel"].input-mobile-no::-moz-placeholder { /* Firefox 19+ */
  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
  color: #8c8d94;
  padding-left:6px; 
}
input[type="tel"].input-mobile-no:-ms-input-placeholder { /* IE 10+ */
  font-family: 'SourceSansPro-Regular';
  font-size: 16px ;
  color: #8c8d94;
  padding-left:6px; 
}
input[type="tel"].input-mobile-no::-ms-input-placeholder { /* IE Edge */
  font-family: 'SourceSansPro-Regular';
  font-size: 10px !important;
  color: #8c8d94;
  padding-left:6px; 
}   
input[type="tel"].input-mobile-no:-moz-placeholder { /* Firefox 18- */
  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
  color: #8c8d94;
  padding-left:6px; 
} 
.get-download-link-btn{
  display: inline-block;
  vertical-align: top;
    width: 32.443%;
    height: 32px;
    border-radius: 3px !important;
    border: none;
    background-color: #8c8d94;
    font-family: 'SourceSansPro-Regular';
    font-size: 14px;
    text-align: center;
    color: #ffffff;
  float:left;
  margin: 0 10px;
  cursor:not-allowed;
  -webkit-appearance: none; 
  }

.active_dwnldButton{
  background:#fc2779;
  cursor: pointer;
  
  }
.download-App-Div-Right{
  margin-right: 62px;
    padding: 1.755% 0 2.025%;
    display: inline-block;
    vertical-align: top;
  float:right;
  }
.availableon_txt{
  height: 13px;

  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
  text-align: left;
  color: #8c8d94;
  margin-bottom:24.12%;
  }
  
/*Homepage-Content css ends here*/  
/*general css starts here*/ 
.fl{float:left;} .fr{float:right;}
.clear{content:'';display: block; clear: both;}
.txtUpper{text-transform: uppercase;}
.txtCapitalize{text-transform: capitalize;} 
.txtalignLeft{text-align: left;}
.bdrRadius{
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  } 
.remove-margin-top{margin-top:0;}
.add-margin-bottom{margin-bottom: 1.755%;}    
/*general css ends here*/
@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .BoxShadow:hover{
    box-shadow:  0px 2px 12px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow:  0px 2px 12px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:  0px 2px 12px 0 rgba(0, 0, 0, 0.3);   
  }
  
  
  }
@media (min-width:1281px) { /* hi-res laptops and desktops */ } 
@media (max-device-width:1280px) and (orientation: landscape) {}
/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {
 
}
 
/* (1680x1050) WSXGA+ Display */
@media  screen and (max-width: 1680px) {
    /* insert styles here */
} 
/* (1600x900) HD+ Display */
@media  screen and (max-width: 1600px) {
    /* insert styles here */
} 
 /* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
   
  .input-mobile-no{padding-left:0;}
}
 /* (1440x900) WXGA+ Display */
/*@media  screen and (max-width: 1440px) {*/
@media
only screen and (min-width: 1410px) and (max-width: 1649px) { 
  
  .input-mobile-no{padding-left:3px;}
}
/* (1280x1024) SXGA Display */
@media  screen and (max-width: 1280px) {
    /* insert styles here */
} 
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px){
  
  .Homepage-Content-Inner{ width:90%;}
  .maincontent-name{font-size:16px;}  
  .bannercontent-det{font-size:14.5px;}
  .separator-line{margin:0 4px;}  
  .bannerDiscountnDetail{margin:0 10px;bottom:10px;}
  input[type="tel"].input-mobile-no::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
  }
  input[type="tel"].input-mobile-no::-moz-placeholder { /* Firefox 19+ */
    font-size: 11px;
  }
  input[type="tel"].input-mobile-no:-ms-input-placeholder { /* IE 10+ */
    font-size: 11px;
  }
  input[type="tel"].input-mobile-no::-ms-input-placeholder { /* IE Edge */
    font-size: 11px !important;
  }   
  input[type="tel"].input-mobile-no:-moz-placeholder { /* Firefox 18- */
    font-size: 11px;
  }
  .input-mobile-no{font-size: 18px; line-height: 31px;}  
  .get-download-link-btn{font-size:10px;} 
  .Trending-Box-Div{font-size:14px;}  
   #Homepage-Video1, #Homepage-Video2{height: 255px;} 
} 
</style>
<div class="Main-Container"  style="margin: -10px 0 0 0;">
  <div id="Homepage-Slider" class="bgColor_darkGrey">
 
  <div class="widget"  data-id="5a0c0441fa134354ec81090f">
   <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c0441fa134354ec81090f/html/" />
</div>
  </div><!--End-Homepage-Slider ends here-->
  </div><!--Main-Container ends here-->
  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm add_padding " style="margin: -20px 0 11px 0; padding-top: 0;">
  
      
    <div class="Homepage-Content-Inner " style="padding-top: 2%; padding-bottom:2.7%;">

     <div class="widget"  data-id="5a0c04c4fa134354ec810912">
   <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c04c4fa134354ec810912/html/" />
</div>
    </div><!--Homepage-Content-Inner ends here-->
  </div><!--End Focus Banner bgColor_darkGrey ends here-->
  

  <div class="Homepage-Content-Wrapper bgColor_lightGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
    
          <div class="widget"  data-id="5a0c076d5902034e99b08d35">
    <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c076d5902034e99b08d35/html/" />
</div>
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End Spot Light-Wrapper bgColor_lightGrey ends here-->
  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner" style="margin-bottom: -20px; padding: 3.501% 0 3.501% 0;">
    
  <div class="widget"  data-id="5a0c07845902034e99b08d38">
   <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c07845902034e99b08d38/html/" />
</div>
        
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End View offer Link bgColor_darkGrey ends here-->

  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
    
  <div class="widget"  data-id="5a0c07b25902034e99b08d3b">
   <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c07b25902034e99b08d3b/html/" />
</div>
        
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End Quik Link bgColor_darkGrey ends here-->
  
  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
        <div class="widget"  data-id="5a0c07c8fa134354ec810917">
    <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c07c8fa134354ec810917/html/" />
</div>
    </div></div> <!-- End Featured Brands -->
  
  <div class="Homepage-Content-Wrapper bgColor_lightGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
        <div class="widget"  data-id="5a0c07e15902034e99b08d40">
   <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c07e15902034e99b08d40/html/" />
</div>
  
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End Recommended @Nykaa bgColor_lightGrey ends here-->
   <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
       <div class="widget"  data-id="5a0c07fa5902034e99b08d44">
      <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c07fa5902034e99b08d44/html/" />
</div>
  
    </div><!--Homepage-Content-Inner ends here--> 
  </div><!--End Trending searches bgColor_darkGrey ends here-->


  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
       <div class="widget"  data-id="5a0c081e5902034e99b08d48">
           <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c081e5902034e99b08d48/html/" />
</div>
  
    </div><!--Homepage-Content-Inner ends here--> 
  </div><!--End EDITOR’S CHOICE bgColor_darkGrey ends here-->
  
  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner" style="padding:0 0 0 0;">
      <div class="Homepage-Heading">
        TOP OF THE CHARTS
      </div><!--Homepage-Heading ends here-->
      
   
  
   <section class="Homepage-Banners-Wrapper">
        <div class="distribute-Even Small-Width-Wrapper-Div">
          <a target="_blank" href="http://www.nykaa.com/makeup/lips/liquid-lipstick.html " id="TopChart1" class="TopCharts-Box">
            <div class="TopCharts-Img BoxShadow"><img src="http://www.nykaa.com/media/wysiwyg/Liquid-Lipstick5.png" /></div>
            <div class="TopCharts-Txt">Liquid Lipstick</div>
          </a><!--TopCharts-Box ends here-->
          <a target="_blank" href="http://www.nykaa.com/makeup/eyes.html" id="TopChart2" class="TopCharts-Box">
            <div class="TopCharts-Img BoxShadow"><img src="http://www.nykaa.com/media/wysiwyg/Eye-Makeup5.png" /></div>
            <div class="TopCharts-Txt"> Eye Makeup</div>
          </a><!--TopCharts-Box ends here-->
          <a target="_blank" href="http://www.nykaa.com/hair-care/tools-and-accessories/hair-straightening-irons.html" id="TopChart3" class="TopCharts-Box">
            <div class="TopCharts-Img BoxShadow"><img src="http://www.nykaa.com/media/wysiwyg/Hair-Straightener5.png" /></div>
            <div class="TopCharts-Txt"> Hair Straightener</div>
          </a><!--TopCharts-Box ends here-->
          <a target="_blank" href="http://www.nykaa.com/herbal/body/aromatherapy-essential-oils.html" id="TopChart4" class="TopCharts-Box">
            <div class="TopCharts-Img BoxShadow"><img src="http://www.nykaa.com/media/wysiwyg/Essential-Oil5.png" /></div>
            <div class="TopCharts-Txt">Essential Oil</div>
          </a><!--TopCharts-Box ends here-->
          <a target="_blank" href="http://www.nykaa.com/makeup/face/face-concealer.html" id="TopChart5" class="TopCharts-Box">
            <div class="TopCharts-Img BoxShadow"><img src="http://www.nykaa.com/media/wysiwyg/Concealer5.png" /></div>
            <div class="TopCharts-Txt">Concealer</div>
          </a><!--TopCharts-Box ends here-->
          <a target="_blank" href="http://www.nykaa.com/hair-care/hair/shampoo.html" id="TopChart6" class="TopCharts-Box">
            <div class="TopCharts-Img BoxShadow"><img src="http://www.nykaa.com/media/wysiwyg/Shampoo5.png" /></div>
            <div class="TopCharts-Txt">Shampoo</div>
          </a><!--TopCharts-Box ends here-->
        </div><!--distribute-Even ends here-->
      </section><!--Homepage-Banners-Wrapper ends here-->
        
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End Top off the charge bgColor_lightGrey ends here--> 

  
  
  
  

          <div class="Homepage-Content-Wrapper bgColor_lightGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
      <div class="widget"  data-id="5a0c083ffa134354ec81091a">
         <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c083ffa134354ec81091a/html/" />
</div>
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End CURATED Collections  bgColor_darkGrey ends here-->
  
  <!--Start App Download bgColor_lightGrey ends here-->
  
  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner" style="padding:0 0 0 0;">

      
          <div class="NykaaApp-Box">
            <img src="http://www.nykaa.com/media/wysiwyg/Homepage/downloadNykaaApp.png" class="Phone-Img"/>
            <section class="download-App-Box">
              <div class="download-App-Div-Left">
                <div class="maincontent-name txtalignLeft">
                Beauty to Go!
                </div>
                <div class="bannercontent-det txtalignLeft">
                Get the Nykaa App for the best Deals around Beauty
                </div>
                
                <section class="Get-Mobile-Link-Box">
                  
                  
              <div ng-app="phonenumberModule" ng-controller="MyCntl">
              <phonenumber-directive placeholder="myPrompt" model='myModel.phonenumber'>
              <input ng-model="inputValue" type="tel" maxlength="12" class="phonenumber input-mobile-no" placeholder="Enter Your Mobile Number"
              onfocus="this.placeholder = ''" onfocusout="this.placeholder = 'Enter Your Mobile Number'"/>  
              </phonenumber-directive>
              </div>    
                  
                  
                  
                  <input type="submit" class="get-download-link-btn" value="GET DOWNLOAD LINK"  onclick="sendAppDownloadSms()" disabled="disabled"/>
                  <span id="smsSucessMssg" style="display:none;" >SMS SENT</span>
                </section><!--Get-Mobile-Link-Box ends here -->
              </div>
              <div class="download-App-Div-Right">
                <div class="availableon_txt">Available on :</div>
                <section class="Store-Link-Box">
                <a target="_blank" href=" https://play.google.com/store/apps/details?id=com.fsn.nykaa&hl=en&utm_source=Desktop&utm_medium=nykaa&utm_campaign=nykaahp" target="_blank">
                  <img src="http://www.nykaa.com/media/wysiwyg/Homepage/googleplay.png" />
                </a>
                <a href="https://itunes.apple.com/app/apple-store/id1022363908?pt=117888715&ct=desktop_hp&mt=8   " target="_blank">
                  <img src="http://adminpanel.nykaa.com/media/wysiwyg/Homepage/appstore.png" />
                </a>
                </section><!--Store-Link-Box ends here-->
              </div>
            </section><!--download-App-Box ends here-->
          </div><!--NykaaApp-Box ends here-->
      
      
  
    </div><!--Homepage-Content-Inner ends here  -->
  </div><!--End App Download bgColor_lightGrey ends here-->
  
  
  
  <div class="Homepage-Content-Wrapper bgColor_lightGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
     
        <div class="widget"  data-id="5a0c085efa134354ec81091d">
         <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c085efa134354ec81091d/html/" />
</div>
      
  
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End BEAUTY ADVICE bgColor_darkGrey ends here-->
  
  
  <div class="Homepage-Content-Wrapper bgColor_darkGrey addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
    
    <div class="widget"  data-id="5a0c0875fa134354ec810921">
         <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c0875fa134354ec810921/html/" />
</div>
    </div><!--Homepage-Content-Inner ends here-->
      
  </div><!--End top BRANDS bgColor_lightGrey ends here--> 
  
  <div class="Homepage-Content-Wrapper bgColor_lightGrey   addbdr_btm">
    <div class="Homepage-Content-Inner Homepage-Content-Inner-Bottom-Spacing">
     
    <div class="widget"  data-id="5a0c088c5902034e99b08d4d">
      <esi:include src="http://nykaa-widgets.nykaa.com/inventory/5a0c088c5902034e99b08d4d/html/" />
</div>
    </div><!--Homepage-Content-Inner ends here--> 
  </div><!--End POP UP Stores bgColor_darkGrey ends here-->
  

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js"></script>
<script type="text/javascript">
unbxddata();
jQuery(document).ready(function(jQuery){
  
     jQuery('.input-mobile-no').keyup(function () {
    
          if(jQuery(this).val().length == 12) {
            console.log(jQuery('.input-mobile-no').val().length);
            jQuery('.get-download-link-btn').addClass('active_dwnldButton');
            jQuery('input[type="submit"].get-download-link-btn').removeAttr('disabled','disabled');
          }
        else{
            jQuery('.get-download-link-btn').removeClass('active_dwnldButton');
            jQuery('input[type="submit"].get-download-link-btn').attr('disabled','disabled');
        }
      
      
      });

  setTimeout(function(){
    jQuery('#Homepage-Slider').css('opacity','1');
  },500);
   /* jQuery('#Homepage-Slider').slick({


        slidesToShow: 1,
        dots:true,
        arrows:true,
        autoplay:true,
    });*/
      jQuery("#video_click1").click(function(){
        jQuery('#video_click1').hide();
        jQuery('#Homepage-Video1').css('display','block');   
        jQuery("#Homepage-Video1")[0].src += "&autoplay=1";
        jQuery(this).unbind("click");//or some other way to make sure that this only happens once
     });
     jQuery("#video_click2").click(function(){
        jQuery('#video_click2').hide();
        jQuery('#Homepage-Video2').css('display','block');   
        jQuery("#Homepage-Video2")[0].src += "&autoplay=1";
        jQuery(this).unbind("click");//or some other way to make sure that this only happens once
     });

});
  
  
  
// see gist: https://gist.github.com/aberke/042eef0f37dba1138f9e

function MyCntl($scope) {
    $scope.myModel = {};
    //$scope.myPrompt = "Enter Your Mobile Number";
}

var phonenumberModule = angular.module('phonenumberModule', [])
 
  .directive('phonenumberDirective', ['$filter', function($filter) {
    /*
    Intended use:
      <phonenumber-directive placeholder='prompt' model='someModel.phonenumber'></phonenumber-directive>
    Where:
      someModel.phonenumber: {String} value which to bind only the numeric characters [0-9] entered
        ie, if user enters 617-2223333, value of 6172223333 will be bound to model
      prompt: {String} text to keep in placeholder when no numeric input entered
    */
 
    function link(scope, element, attributes) {
 
      // scope.inputValue is the value of input element used in template
      scope.inputValue = scope.phonenumberModel;
 
      scope.$watch('inputValue', function(value, oldValue) {
        
        value = String(value);
        var number = value.replace(/[^0-9]+/g, '');
        scope.phonenumberModel = number;
        scope.inputValue = $filter('phonenumber')(number);
      });
    }
    
    return {
      link: link,
      restrict: 'E',
      scope: {
        //phonenumberPlaceholder: '=placeholder',
        phonenumberModel: '=model',
      },
      //templateUrl: '/static/phonenumberModule/template.html',
      //template: '<input ng-model="inputValue" type="tel" class="phonenumber input-mobile-no" placeholder="{{phonenumberPlaceholder}}"  title="Phonenumber (Format:9999- 9999-99)">',
    };
  }])
 
  .filter('phonenumber', function() {
      /* 
      Format phonenumber as: c (xxx) xxx-xxxx
        or as close as possible if phonenumber length is not 10
        if c is not '1' (country code not USA), does not use country code
      */
      
      return function (number) {
        /* 
        @param {Number | String} number - Number that will be formatted as telephone number
        Returns formatted number: (###) ###-####
          if number.length < 4: ###
          else if number.length < 7: (###) ###
 
        Does not handle country codes that are not '1' (USA)
        */
          if (!number) { return ''; }
 
          number = String(number);
 
          // Will return formattedNumber. 
          // If phonenumber isn't longer than an area code, just show number
          var formattedNumber = number;
 
      // if the first character is '1', strip it out and add it back
      var c = (number[0] == '1') ? '1 ' : '';
      number = number[0] == '1' ? number.slice(1) : number;
 
      // # (###) ###-#### as c (area) front-end
      var area = number.substring(0,3);
      var front = number.substring(3, 6);
      var end = number.substring(6, 10);
 
      if (front) {
        formattedNumber = (c +  area + "-" + front);  
      }
      if (end) {
        formattedNumber += ("-" + end);
      }
      return formattedNumber;
      };
  }); 
  
    function sendAppDownloadSms(){
        var mob = jQuery('.input-mobile-no').val().replace(/[#-]/g,'');
        jQuery.ajax({
            type:'post',data:{"mobile":mob},
            dataType:'json',
            url:'http://www.nykaa.com/custom/index/sendDownloadLink/', 
            success:function(result)
            {
                    if(result.flag != "false"){
          jQuery( "#smsSucessMssg" ).show().delay(5000).fadeOut( "slow" );
                      jQuery('.get-download-link-btn').removeClass('active_dwnldButton');
                     jQuery('.input-mobile-no').val('');
        }

            }
        });
    }
  
  function unbxddata(){

  trending_search_json ="";

      unbxd_trending = [];
      var url1 = "http://search.unbxdapi.com/431507a8b9841ea147484434ab12860d/nykaa-u1430893625219/autosuggest?trending-queries=true";

      var trending_search_json;
      jQuery.ajax({
          url: url1
      ,dataType: "jsonp"
      ,jsonp: 'json.wrf'
      }).done(function(data) {
        
        trending_search_json += JSON.stringify(data["response"]['products']); 
        getUnbxdData(trending_search_json);
       
      });
     
 
}
function getUnbxdData(param) 
{
      var randomNumber = 0;
      var randomNumberArr = [];

      for (var i = 5; i > 0; i--) {
          randomNumber = Math.floor(Math.random() * (25 - 0 + 1)) + 0;
          if (randomNumberArr.indexOf(randomNumber) == -1) {
              randomNumberArr.push(randomNumber);
          }
      }

      tempArr = [];
      for (var i = randomNumberArr.length - 1; i >= 0; i--) {
          tempArr.push(param[randomNumberArr[i]]);
      }

      unbxd_trending = param;

      var html = '<ul class="recentsearch-as-maincontent" >';
      
      if (unbxd_trending.length) 
      {
           
        //html += '<li class="recentsearch-as-header">Trending Searches</li>';
        unbxd_string=JSON.parse(unbxd_trending);
       

        for (i = 0; i < 6; i++) 
        {
          var unbxdstr= unbxd_string[i].autosuggest;
          str = unbxdstr.substring(0,10);
            //  console.log(unbxd_string[i].autosuggest);
            html += '<a href="/search/result/?q=' + unbxd_string[i].autosuggest + '" title="'+unbxd_string[i].autosuggest+'"><li class="trending-search-home BoxShadow" onclick="trackGaforTrending(\'' + unbxd_string[i]["autosuggest"] + '\')" > '+str +'</li></a>';
        }
      }
      html += '</ul>';

     jQuery(".Trending-Box-Div-Wrapper").append(html);

}
  
</script> 
